POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=

SECRET_KEY=
ALGORITHM=
REFRESH_TOKEN_EXPIRE_DAYS=
ACCESS_TOKEN_EXPIRE_MINUTES=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=